<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RentUP </title>



    </head>





<header>
  <div class="container">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-3">
           <div class="logo">
            <a class="nav-brand" routerLink="/dashboard">
              <img src="assets/img/logo.png" class="logo" alt="" />
            </a>
           </div>
           <div class="mob-menu">
              <span>
                 <i class="fa fa-bars"></i>
              </span>
           </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-9">
           <div class="main-menu">
              <ul class="nav">
                 <li><a routerLink="/dashboard"> Home </a> </li>
                 <li><a routerLink="/propertyList"> Property </a>

                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Properties
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="/property">Property Add</a>
                    <a class="dropdown-item" routerLink="/property/view">Property View</a>

                  </div>
                </li>

                <li><a routerLink="/conatctus"> Contact Us </a> </li>
                <li>
                  <a *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active"> <i class="fa fa-user"></i> Log in </a> </li>
                <!-- <li > <a *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active"> <i class="fa fa-sign-in"></i> Sign up </a> </li> -->

                <!-- <li > <a *ngIf="authService.loggedIn()"style="cursor: pointer;"
                  (click)="logout()"> Logout </a> </li> -->

                  <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" routerLink="/upadteProfile" style="cursor: pointer;">Update Profile</a>
                      <a class="dropdown-item"  style="cursor: pointer;"
                      (click)="logout()"> Logout </a>

                    </div>
                  </li>
                 </ul>

           </div>
        </div>
     </div>
  </div>
</header>

