

<div class="sidebar-container">
  <div class="sidebar-logo">
    Project Name
  </div>
  <ul class="sidebar-navigation">

    <li>

    </li>
    <li>
      <a routerLink="/admin/dashboard"
      routerLinkActive="active" >
        <i class="fa fa-tachometer"

        aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li class="header">Another Menu</li>
    <li>
      <a routerLink="/admin/state" routerLinkActive="active">
       State
      </a>
    </li>
    <li>
      <a routerLink="/admin/city/view" routerLinkActive="active" >City</a>
    </li>
    <li>
      <a routerLink="/admin/property/view" routerLinkActive="active">
      Property
      </a>
    </li>
    <li>
      <a routerLink="/admin/users" routerLinkActive="active">
      Users
      </a>
    </li>
    <li>
      <a routerLink="/admin/contact" routerLinkActive="active">
       Feedback
      </a>
    </li>


  </ul>
</div>
<div class="content-container">
<div class="container-fluid">



