

<div class="container">
  <div class="row">
      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
              <div class="card-block">
                  <h6 class="m-b-20"><a routerLink="/admin/users">Users</a></h6>
                  <h2 class="text-right"><i class="bi bi-person f-left"></i><span>{{user_count}}</span></h2>

              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-green order-card">
              <div class="card-block">
                  <h6 class="m-b-20"><a routerLink="/admin/state/view">State</a></h6>
                  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{state_count}}</span></h2>

              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-yellow order-card">
              <div class="card-block">
                  <h6 class="m-b-20"><a routerLink="/admin/city/view">City</a></h6>
                  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{city_count}}</span></h2>

              </div>
          </div>
      </div>

      <div class="col-md-4 col-xl-3">
          <div class="card bg-c-pink order-card">
              <div class="card-block">
                  <h6 class="m-b-20"><a routerLink="/admin/property/view">Propety</a></h6>
                  <h2 class="text-right"><i class="bi bi-house f-left"></i><span>{{pro_count}}</span></h2>

              </div>
          </div>
      </div>



      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6 class="m-b-20"><a routerLink="/admin/contact">Feedback</a></h6>
                <h2 class="text-right"><i class="bi bi-chat-quote-fill f-left"></i><span>{{feedback_count}}</span></h2>

            </div>
        </div>
    </div>
</div>
</div>



