
<script src="https://use.fontawesome.com/f59bcd8580.js"></script>


<div class="container">
<div class="row m-5 no-gutters shadow-lg" >
<div class="col-md-6 d-none d-md-block" style="padding: 20px;">
  <img src="assets/img/h1.png" class="img-fluid" style="height: 500px;" />
</div>

<div class="col-md-6 bg-white p-5" style="height: 450px;">
<h3 class="pb-3">Login Form</h3>
<div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
<div class="form-style">

<form [formGroup]="LoginForm" (ngSubmit)="login()">
  <div class="form-group pb-3">
    <input type="email" placeholder="Email" class="form-control"
    formControlName="email" aria-describedby="emailHelp" >
    <div>
    <p class="error" *ngIf="LoginForm.controls['email'].dirty && LoginForm.hasError('required','email')"> Email is Required !!</p>
    <p  class="error" *ngIf="LoginForm.controls['email'].errors && LoginForm.controls['email'].errors['email']">Please, enter valid email address.</p>
  </div>
  </div>
  <div class="form-group pb-3">
    <input type="password" placeholder="Password"
    formControlName="password"
    class="form-control" >
  <div class="form-group pb-3">
    <span class="error" *ngIf="LoginForm.controls['password'].dirty && LoginForm.hasError('required','password')"> Password is Required!!</span>

    <span class="error"*ngIf="LoginForm.hasError('pattern','password')">Your password has atleast one specail character and number and one uppercase character also!! </span>
  </div>

  </div>

   <div class="pb-2">
    <a routerLink="/forgetPassword" style="float:right; color: green;">Forgot Password</a>
  <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-theme prt_submit_link w-100" style="color : white" >Submit</button>
   </div>
</form>

  <div class="pt-4 text-center">

   If you have no account. please  <button class="btn btn-theme" style="color : white" (click)="navigate()"> Sign In </button>

  </div>
</div>

</div>
</div>
</div>





