
<button class="btn btn-primary"
style="float: right;"
routerLink="">View</button>
<br>
<br>

<div class="container" >
<h2 >Add City</h2>

  <form [formGroup]="cityForm" (ngSubmit)="cityAdd()">
    <div class="form-group">
      <label for="inputName">State</label>
      <select formControlName="state"  class="form-control" >
        <option *ngFor="let state of State" [ngValue]="state._id"> {{state.stateName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputName">City</label>
      <input class="form-control"
      formControlName="cityName"
      type="text" placeholder="city" required>
    </div>

    <div class="form-group">


      <label>Images</label>

      <input class="form-control" type="file"
    
      name="images" (change)="onFileSelect($event)"
      multiple  required/>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary">submit</button>
  </form>

</div>
