


<section class="gray pt-5 pb-5">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-9 col-md-8 col-sm-12" style="float: right;">
        <div class="dashboard-body">

          <div class="dashboard-wraper">
            <div *ngIf="SucessMessage">
              <div class="alert alert-success">{{SucessMessage}}</div>
            </div>
            <div *ngIf="errMessage">
              <div class="alert alert-danger">{{errMessage}}</div>
            </div>

            <div class="frm_submit_block">

              <h4>Change Password</h4>
              <div class="frm_submit_wrap">
                <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                <div class="form-row">


                  <div class="form-group col-md-12">
                    <label>oldPassword</label>
                    <input type="password"
                    formControlName="oldPassword"

                    class="form-control" >

                  </div>
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>New Password </label>
                    <input type="password"
                    formControlName="newPassword"
                    class="form-control" >
                  </div>
                 </div>



                    <button type="submit" class="btn btn-success" value="submit">save Changes</button>

              </form>
                </div>
              </div>




          </div>

        </div>
      </div>

    </div>


