
            <div *ngIf="SucessMessage">
              <div class="alert alert-success">{{SucessMessage}}</div>
            </div>
            <div *ngIf="errMessage">
              <div class="alert alert-danger">{{errMessage}}</div>
            </div>

            <div class="frm_submit_block" style="flex: content;">

              <h4>Change Password</h4>
              <div class="frm_submit_wrap" >
                <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                <div class="form-row">
                  <div class="col-md-6">
                    <label>oldPassword</label>
                    <input type="password"
                    style="border: 100% ;"
                    formControlName="oldPassword"

                    class="form-control" >

                  </div>


                  <div class=" col-md-6">
                    <label>New Password </label>
                    <input type="password"
                    formControlName="newPassword"
                    class="form-control" >
                  </div>
                 </div>

                 <br>

                    <button type="submit"
                    [disabled]="!changePassForm.valid"
                    class="btn btn-success" value="submit">save Changes</button>

              </form>
                </div>
              </div>











<!--
<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container">
<div class="row m-5 no-gutters shadow-lg">
<div class="col-md-6 d-none d-md-block">
  <img src="assets/img/h1.png" class="img-fluid" style="min-height:100%; height: 500px;" />
</div>

<div class="col-md-6 bg-white p-5">
<h3 class="pb-3">Change password</h3>

<div *ngIf="SucessMessage">
  <div class="alert alert-success">{{SucessMessage}}</div>
</div>
<div *ngIf="errMessage">
  <div class="alert alert-danger">{{errMessage}}</div>
</div>

<div class="frm_submit_wrap">
  <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
  <div class="form-row">


    <div class="form-group col-md-12">
      <label>oldPassword</label>
      <input type="password"
      formControlName="oldPassword"

      class="form-control" >
      <span class="error" *ngIf="changePassForm.controls['oldPassword'].dirty && changePassForm.hasError('required','oldPassword')"> New password is Required!!</span>

      <span class="error"*ngIf="changePassForm.hasError('pattern','oldPassword')">Your Password has Atleast One specail Character and Number and One UpperCase Also!! </span>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12">
      <label>New Password </label>
      <input type="password"
      formControlName="newPassword"
      class="form-control" >
      <span class="error" *ngIf="changePassForm.controls['newPassword'].dirty && changePassForm.hasError('required','newPassword')"> New password is Required!!</span>

      <span class="error"*ngIf="changePassForm.hasError('pattern','newPassword')">Your Password has Atleast One specail Character and Number and One UpperCase Also!! </span>
    </div>
   </div>



      <button type="submit"
      [disabled]="!changePassForm.valid"
      class="btn btn-success" value="submit">save Changes</button>

</form>
  </div>
</div>


</div>

</div>

 -->
