
            <div *ngIf="SucessMessage">
              <div class="alert alert-success">{{SucessMessage}}</div>
            </div>
            <div *ngIf="errMessage">
              <div class="alert alert-danger">{{errMessage}}</div>
            </div>

            <div class="frm_submit_block" style="flex: content;">

              <h4>Change Password</h4>
              <div class="frm_submit_wrap" >
                <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                <div class="form-row">
                  <div class="col-md-6">
                    <label>oldPassword</label>
                    <input type="password"
                    style="border: 100% ;"
                    formControlName="oldPassword"

                    class="form-control" >

                  </div>

                  </div>
                  <div class="form-row">
                  <div class=" col-md-6">
                    <label>New Password </label>
                    <input type="password"
                    formControlName="newPassword"
                    class="form-control" >
                  </div>
                 </div>

                 <br>

                    <button type="submit"
                    [disabled]="!changePassForm.valid"
                    class="btn btn-success" value="submit">save Changes</button>

              </form>
                </div>
              </div>









