
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">

                          <h1>RentUp</h1>

                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>

                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h5 style="color:#1e1e2d; margin:0;font-family:'Rubik',sans-serif;">Please, provide your email address for resetting the password.</h5><br>
                                        <div
                                        class="alert alert-success"
                                        *ngIf="message">{{message}}</div>


                                        <div
                                        class="alert alert-danger"
                                        *ngIf="errorMesasge">{{errorMesasge}}</div>

                                        <form [formGroup]="forPassForm" (ngSubmit)="forgetpassword()">


                                        <div class="form-group pb-3">
                                          <input type="email" placeholder="Email"
                                          formControlName="email"
                                          class="form-control" >
                                          <span class="error" *ngIf="forPassForm.controls['email'].dirty && forPassForm.hasError('required','email')"> Email is Required !!</span>
                                          <span  class="error" *ngIf="forPassForm.controls['email'].errors && forPassForm.controls['email'].errors['email']">Please, enter valid email address.</span>
                                        </div>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">

                                        </p>
                                       <button type="submit"
                                       [disabled]="!forPassForm.valid"
                                       class="btn btn-success"> Send Mail</button>
                                      </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>


