<div class="page-title" style="background:#f4f4f4 url(assets/img/slider-3.jpg);" data-overlay="5">
  <div class="ht-80"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="_page_tetio">
          

        </div>
      </div>
    </div>
  </div>
  <div class="ht-120"></div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Agency List Start ================================== -->
<section class="pt-0">
  <div class="container">
    <div class="row align-items-center pretio_top">


    </div>
<br>
    <!-- row Start -->
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="property_block_wrap">

          <div class="property_block_wrap_header">
            <h4 class="property_block_title">Fillup The Form</h4>
            <div
            *ngIf="msg"
            class="alert alert-success" >{{msg}}</div>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="addContactData()">
          <div class="block-body">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text"
                  formControlName="Name"
                  class="form-control simple">
                  <span class="error" *ngIf="contactForm.controls['Name'].dirty && contactForm.hasError('required','Name')"> Name is Required</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email"
                  formControlName="email"
                  class="form-control simple">
                  <span class="error" *ngIf="contactForm.controls['email'].dirty && contactForm.hasError('required','email')"> Email is Required</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Subject</label>
              <input type="text"
              formControlName="subject"
              class="form-control simple">
              <span class="error" *ngIf="contactForm.controls['subject'].dirty && contactForm.hasError('required','subject')"> Subject is Required</span>
            </div>

            <div class="form-group">
              <label>Message</label>
              <textarea
              formControlName="message"
              class="form-control simple"></textarea>
              <span class="error" *ngIf="contactForm.controls['message'].dirty && contactForm.hasError('required','message')"> Message is Required</span>
            </div>

            <div class="form-group">
              <button class="btn btn-theme"
              [disabled]="!contactForm.valid"
              type="submit">Submit Request</button>
            </div>
          </div>
        </form>
        </div>

      </div>

      <div class="col-lg-4 col-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3559.303346004152!2d81.00657231451953!3d26.86210176873481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1621502911489!5m2!1sen!2sin" width="100%" height="470" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
    <!-- /row -->
  </div>
</section>





