
				<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
					<source src="assets/img/banners.mp4" type="video/mp4">
				</video>

			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Listed Property</h2>

							</div>
						</div>
					</div>
        <div >
					<div class="row justify-content-center" >

						<div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of property1">
							<div class="property-listing property-2">

								<div class="listing-img-wrapper">

                  <div id="carouselExampleIndicators{{item._id}}" class="carousel slide" data-ride="carousel" >
                    <ol class="carousel-indicators">

                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item position-relative " [ngClass]="{active : i === 0}" *ngFor="let items of item.images; let i = index">
                        <img class="d-block "
                        [ngStyle]="{'opacity' :item.status === 'Occupied'?'50%':''}"
                        src="http://localhost:3000/{{items.path}}" alt="Property Image">
                        <img
                        *ngIf="item.status === 'Occupied'"
                        src="assets/img/oc.png" style="position:absolute; top: 0px; height: 100px; left:20%">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators{{item._id}}" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators{{item._id}}" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">

										<div class="_card_list_flex">
											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a
                          (click)="details(item._id)"
                          class="prt-link-detail">{{item.address}} , {{item.city.cityName}} ,{{item.state.stateName}}</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>{{item.badRoomCount}} Bad
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>{{item.bathRoomCount}} Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>{{item.area}}  sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<h6 class="listing-card-info-price mb-0 p-0">₹{{item.price}}/-</h6>
									</div>
									<div class="footer-flex">
										<a (click)="details(item._id)"
                    style="cursor: pointer;"
                    class="prt-view">View Detail</a>
									</div>
								</div>

							</div>
						</div>

          </div>







					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<button routerLink="/propertyList" (click)="navigateToProperty()"
              class="btn btn-theme-light-2 rounded">Explore More Properties</button>
						</div>
					</div>

				</div>
			</section>

			<section class="min">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Explore By Location</h2>
								<p></p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">


						<div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let c of city">
							<a (click)="cityWiseProperty(c._id)" class="img-wrap style-2">
									<div class="location_wrap_content visible">
										<div class="location_wrap_content_first">
											<h4><a
                        style="cursor:pointer;"
                        (click)="cityWiseProperty(c._id)">{{c.cityName}}</a></h4>
											<ul>

											</ul>
										</div>
									</div>
								<div class="img-wrap-background" style="background-image: url(http://localhost:3000/public/city-images/{{c.images[0].filename}}); cursor: pointer;"></div>
							</a>
						</div>

					</div>

				</div>
			</section>



