
 <div class="hero-banner vedio-banner">


				<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
					<source src="assets/img/banners.mp4" type="video/mp4">
				</video>

				<div class="container">


					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12">
							<div class="simple_tab_search center">


								<div class="tab-content" id="myTabContent">

									<div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">
										<div class="full_search_box nexio_search lightanic_search hero_search-radius modern">
											<div class="search_hero_wrapping">

												<div class="row">

													<div class="col-lg-3 col-sm-12 d-md-none d-lg-block">
														<div class="form-group">
															<label>Price Range</label>
															<input type="text" class="form-control search_input b-0" placeholder="ex. Neighborhood" />
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-12">
														<div class="form-group">
															<label>City/Street</label>
															<div class="input-with-icon">
																<select id="lot-1" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">New York City</option>
																	<option value="2">Honolulu, Hawaii</option>
																	<option value="3">California</option>
																	<option value="4">New Orleans</option>
																	<option value="5">Washington</option>
																	<option value="6">Charleston</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12">
														<div class="form-group">
															<label>Property Type</label>
															<div class="input-with-icon">
																<select id="ptype-1" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">All categories</option>
																	<option value="2">Apartment</option>
																	<option value="3">Villas</option>
																	<option value="4">Commercial</option>
																	<option value="5">Offices</option>
																	<option value="6">Garage</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12">
														<div class="form-group none">
															<a class="collapsed ad-search" data-toggle="collapse" data-parent="#search1" data-target="#advance-search-1" href="javascript:void(0);" aria-expanded="false" aria-controls="advance-search"><i class="fa fa-sliders-h mr-2"></i>Advance Filter</a>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12 small-padd">

													</div>
												</div>


												<div class="collapse" id="advance-search-1" aria-expanded="false" role="banner">


													<div class="row">

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none style-auto">
																<select id="bedrooms1" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																</select>
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none style-auto">
																<select id="bathrooms1" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																</select>
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none">
																<input type="text" class="form-control" placeholder="min sqft" />
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none">
																<input type="text" class="form-control" placeholder="max sqft" />
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 mt-2">
															<h6>Advance Price</h6>
															<div class="rg-slider">
																 <input type="text" class="js-range-slider" name="my_range" value="" />
															</div>
														</div>
													</div>

													<div class="row">

														<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
															<h4 class="text-dark">Amenities & Features</h4>
															<ul class="no-ul-list third-row">
																<li>
																	<input id="a-1a" class="checkbox-custom" name="a-1a" type="checkbox">
																	<label for="a-1a" class="checkbox-custom-label">Air Condition</label>
																</li>
																<li>
																	<input id="a-2b" class="checkbox-custom" name="a-2b" type="checkbox">
																	<label for="a-2b" class="checkbox-custom-label">Bedding</label>
																</li>
																<li>
																	<input id="a-3c" class="checkbox-custom" name="a-3c" type="checkbox">
																	<label for="a-3c" class="checkbox-custom-label">Heating</label>
																</li>
																<li>
																	<input id="a-4d" class="checkbox-custom" name="a-4d" type="checkbox">
																	<label for="a-4d" class="checkbox-custom-label">Internet</label>
																</li>
																<li>
																	<input id="a-5e" class="checkbox-custom" name="a-5e" type="checkbox">
																	<label for="a-5e" class="checkbox-custom-label">Microwave</label>
																</li>
																<li>
																	<input id="a-6f" class="checkbox-custom" name="a-6f" type="checkbox">
																	<label for="a-6f" class="checkbox-custom-label">Smoking Allow</label>
																</li>
																<li>
																	<input id="a-7g" class="checkbox-custom" name="a-7g" type="checkbox">
																	<label for="a-7g" class="checkbox-custom-label">Terrace</label>
																</li>
																<li>
																	<input id="a-8h" class="checkbox-custom" name="a-8h" type="checkbox">
																	<label for="a-8h" class="checkbox-custom-label">Balcony</label>
																</li>
																<li>
																	<input id="a-9i" class="checkbox-custom" name="a-9i" type="checkbox">
																	<label for="a-9i" class="checkbox-custom-label">Icon</label>
																</li>
																<li>
																	<input id="a-10j" class="checkbox-custom" name="a-10j" type="checkbox">
																	<label for="a-10j" class="checkbox-custom-label">Wi-Fi</label>
																</li>
																<li>
																	<input id="a-11k" class="checkbox-custom" name="a-11k" type="checkbox">
																	<label for="a-11k" class="checkbox-custom-label">Beach</label>
																</li>
																<li>
																	<input id="a-12l" class="checkbox-custom" name="a-12l" type="checkbox">
																	<label for="a-12l" class="checkbox-custom-label">Parking</label>
																</li>
															</ul>
														</div>

													</div>


												</div>

											</div>
										</div>

									</div>


									<div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
										<div class="full_search_box nexio_search lightanic_search hero_search-radius modern">
											<div class="search_hero_wrapping">

												<div class="row">

													<div class="col-lg-3 col-sm-12 d-md-none d-lg-block">
														<div class="form-group">
															<label>Price Range</label>
															<input type="text" class="form-control search_input b-0" placeholder="ex. Neighborhood" />
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-12">
														<div class="form-group">
															<label>City/Street</label>
															<div class="input-with-icon">
																<select id="lot-2" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">New York City</option>
																	<option value="2">Honolulu, Hawaii</option>
																	<option value="3">California</option>
																	<option value="4">New Orleans</option>
																	<option value="5">Washington</option>
																	<option value="6">Charleston</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12">
														<div class="form-group">
															<label>Property Type</label>
															<div class="input-with-icon">
																<select id="ptype-2" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">All categories</option>
																	<option value="2">Apartment</option>
																	<option value="3">Villas</option>
																	<option value="4">Commercial</option>
																	<option value="5">Offices</option>
																	<option value="6">Garage</option>
																</select>
															</div>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12">
														<div class="form-group none">
															<a class="collapsed ad-search" data-toggle="collapse" data-parent="#search" data-target="#advance-search-2" href="javascript:void(0);" aria-expanded="false" aria-controls="advance-search"><i class="fa fa-sliders-h mr-2"></i>Advance Filter</a>
														</div>
													</div>

													<div class="col-lg-2 col-md-3 col-sm-12 small-padd">
														<div class="form-group none">
															<a href="#" class="btn search-btn">Search Property</a>
														</div>
													</div>
												</div>


												<div class="collapse" id="advance-search-2" aria-expanded="false" role="banner">


													<div class="row">

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none style-auto">
																<select id="bedrooms2" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																</select>
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none style-auto">
																<select id="bathrooms2" class="form-control">
																	<option value="">&nbsp;</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																</select>
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none">
																<input type="text" class="form-control" placeholder="min sqft" />
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group none">
																<input type="text" class="form-control" placeholder="max sqft" />
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 mt-2">
															<h6>Advance Price</h6>
															<div class="rg-slider">
																 <input type="text" class="js-range-slider" name="my_range" value="" />
															</div>
														</div>
													</div>

													<div class="row">

														<div class="col-lg-12 col-md-12 col-sm-12 mt-3">
															<h4 class="text-dark">Amenities & Features</h4>
															<ul class="no-ul-list third-row">
																<li>
																	<input id="a-a1" class="checkbox-custom" name="a-a1" type="checkbox">
																	<label for="a-a1" class="checkbox-custom-label">Air Condition</label>
																</li>
																<li>
																	<input id="a-b2" class="checkbox-custom" name="a-b2" type="checkbox">
																	<label for="a-b2" class="checkbox-custom-label">Bedding</label>
																</li>
																<li>
																	<input id="a-c3" class="checkbox-custom" name="a-c3" type="checkbox">
																	<label for="a-c3" class="checkbox-custom-label">Heating</label>
																</li>
																<li>
																	<input id="a-d4" class="checkbox-custom" name="a-d4" type="checkbox">
																	<label for="a-d4" class="checkbox-custom-label">Internet</label>
																</li>
																<li>
																	<input id="a-e5" class="checkbox-custom" name="a-e5" type="checkbox">
																	<label for="a-e5" class="checkbox-custom-label">Microwave</label>
																</li>
																<li>
																	<input id="a-f6" class="checkbox-custom" name="a-f6" type="checkbox">
																	<label for="a-f6" class="checkbox-custom-label">Smoking Allow</label>
																</li>
																<li>
																	<input id="a-g7" class="checkbox-custom" name="a-g7" type="checkbox">
																	<label for="a-g7" class="checkbox-custom-label">Terrace</label>
																</li>
																<li>
																	<input id="a-h8" class="checkbox-custom" name="a-h8" type="checkbox">
																	<label for="a-h8" class="checkbox-custom-label">Balcony</label>
																</li>
																<li>
																	<input id="a-i9" class="checkbox-custom" name="a-i9" type="checkbox">
																	<label for="a-i9" class="checkbox-custom-label">Icon</label>
																</li>
																<li>
																	<input id="a-j10" class="checkbox-custom" name="a-j10" type="checkbox">
																	<label for="a-j10" class="checkbox-custom-label">Wi-Fi</label>
																</li>
																<li>
																	<input id="a-k11" class="checkbox-custom" name="a-k11" type="checkbox">
																	<label for="a-k11" class="checkbox-custom-label">Beach</label>
																</li>
																<li>
																	<input id="a-l12" class="checkbox-custom" name="a-l12" type="checkbox">
																	<label for="a-l12" class="checkbox-custom-label">Parking</label>
																</li>
															</ul>
														</div>

													</div>


												</div>

											</div>
										</div>

									</div>

								</div>

							</div>


						</div>
					</div>
				</div>
			</div>

			<section>
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h2>Listed Property</h2>

							</div>
						</div>
					</div>
        <div >
					<div class="row justify-content-center" >

						<div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of property1">
							<div class="property-listing property-2" style="height: 470px;">

								<div class="listing-img-wrapper">

                  <div id="carouselExampleIndicators{{item._id}}" class="carousel slide" data-ride="carousel" >
                    <ol class="carousel-indicators">

                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item position-relative " [ngClass]="{active : i === 0}" *ngFor="let items of item.images; let i = index">
                        <img class="d-block "
                        [ngStyle]="{'opacity' :item.status === 'Occupied'?'50%':''}"
                        src="http://localhost:3000/{{items.path}}" alt="Property Image">
                        <img
                        *ngIf="item.status === 'Occupied'"
                        src="assets/img/oc.png" style="position:absolute; top: 5px; height: 220px; left:0% ;width: 100%;">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators{{item._id}}" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators{{item._id}}" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
								</div>

								<div class="listing-detail-wrapper">
									<div class="listing-short-detail-wrap">
                    <div class="_card_list_flex mb-2">
                    <div class="_card_flex_01">
                      <span class="_list_blickes _netork">{{item.status}}</span>
                      <span class="_list_blickes types">{{item.type}}</span>
                    </div>
                  </div>
										<div class="_card_list_flex">

											<div class="_card_flex_01">
												<h4 class="listing-name verified"><a
                          (click)="details(item._id)"
                          class="prt-link-detail">{{item.address}} , {{item.city.cityName}} ,{{item.state.stateName}}</a></h4>
											</div>
										</div>
									</div>
								</div>

								<div class="price-features-wrapper">
									<div class="list-fx-features">
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>{{item.badRoomCount}} Bad
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>{{item.bathRoomCount}} Bath
										</div>
										<div class="listing-card-info-icon">
											<div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>{{item.area}}  sqft
										</div>
									</div>
								</div>

								<div class="listing-detail-footer">
									<div class="footer-first">
										<h6 class="listing-card-info-price mb-0 p-0">₹{{item.price}}/-</h6>
									</div>
									<div class="footer-flex">
										<a (click)="details(item._id)"
                    style="cursor: pointer;"
                    class="prt-view">View Detail</a>
									</div>
								</div>

							</div>
						</div>

          </div>







					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-center">
							<button routerLink="/propertyList" (click)="navigateToProperty()"
              class="btn btn-theme-light-2 rounded">Explore More Properties</button>
						</div>
					</div>

				</div>
			</section>

			<section class="min">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h2>Explore By Location</h2>
								<p></p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center">


						<div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let c of city">
							<a (click)="cityWiseProperty(c._id)" class="img-wrap style-2">
									<div class="location_wrap_content visible">
										<div class="location_wrap_content_first">
											<h4><a
                        style="cursor:pointer;"
                        (click)="cityWiseProperty(c._id)">{{c.cityName}}</a></h4>
											<ul>

											</ul>
										</div>
									</div>
								<div class="img-wrap-background" style="background-image: url(http://localhost:3000/public/city-images/{{c.images[0].filename}}); cursor: pointer;"></div>
							</a>
						</div>

					</div>

				</div>
			</section>



